[submodule "lib_xs3_math"]
	path = modules/xs3_math/lib_xs3_math
	url = git@github.com:xmos/lib_xs3_math.git
[submodule "lib_l2_cache"]
	path = modules/l2_cache/lib_l2_cache
	url = git@github.com:xmos/lib_l2_cache.git
[submodule "lib_random"]
	path = modules/random/lib_random
	url = git@github.com:xmos/lib_random.git
[submodule "lib_otpinfo"]
	path = modules/otpinfo/lib_otpinfo
	url = git@github.com:xmos/lib_otpinfo.git
[submodule "xmos_cmake_toolchain"]
	path = xmos_cmake_toolchain
	url = git@github.com:xmos/xmos_cmake_toolchain.git
[submodule "trycatch"]
	path = modules/trycatch/lib_trycatch
	url = git@github.com:xmos/lib_trycatch.git
[submodule "modules/inferencing/lib_nn"]
	path = modules/inferencing/lib_nn
	url = git@github.com:xmos/lib_nn.git
